@media screen and (max-width:900px) {

    nav {
        justify-content: space-between;
        padding-left: 10px;
        padding-right: 10px;
    }

    .desktop-nav {
        display: none;
    }

    .hamburger-nav {
        display: flex;
    }

    .hamburger-icon {
        display: flex;
    }

    .website-logo {
        font-size: 48px;
    }

    .right {
        font-size: 7px;
    }

    #home {
        display: grid;
        grid-template-areas: "image"
            "text";
    }

    .text {
        display: grid;
        padding: 0;
        grid-area: text;
        justify-items: center;
        margin: 10px;
    }


    .text h1 {
        font-size: 50px;
        background: -webkit-linear-gradient(rgba(63, 62, 63, 0.52), rgb(0, 0, 0));
        -webkit-background-clip: text;
        -webkit-text-fill-color: #000000bf;
    }

    .text button {
        margin-top: 30px;
    }

    .image {
        grid-area: image;
        margin-top: 10px;
    }

    .image img {
        width: 250px;
        height: 250px;
    }

    .product-title {
        font-size: 30px;
    }

    .card-container {
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: auto;
    }

    .about-container {
        position: relative;
        background-image: none;


        .about-image img {
            width: 350px;
            height: 350px;
        }

        .about-text {
            display: inline-block;
            position: absolute;
            text-align: right;
        }

        .about-text h6 {
            /* margin-top: -180px; */
            font-size: 35px;
        }

        .about-text h4 {
            margin-top: -30px;
            font-size: 50px;
        }

        .about-text h1 {
            margin-top: -70px;
            font-size: 150px;
        }

        .about-text h5 {
            margin-top: -60px;
            font-size: 30px;
            color: rgba(143, 141, 141, 0.63);
        }

        .about-text h3 {
            margin-top: 50px;
            font-size: 70px;
        }
    }

    .review-container {
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: auto;
    }

    .s-container {
        margin: 0;
        display: inline-block;
    }

    .s-delivery,
    .s-replace,
    .s-support {
        margin: 0px;
        text-align: center;
    }

    .footer-col {
        width: 100%;
    }

}